<html>
  <head>
  	<link rel="stylesheet" href="/style.css" type="text/css">
  </head>

  <body>
    <h1>Hello World</h1>
    <p>Hello <%= @name %>, how are you?</p>
    <a href="/page2">Page 2</a>
    <a href="/page3">Page 3</a>
  </body>
</html>

