<!DOCTYPE html>
<html>
<head>
<title>Join Book Box</title>

<link rel="stylesheet" type="text/css" href="bootstrap.css" />

<meta name="MEJ">
</head>

<body>

<h1> Like our books? Then Join Up!</h1>

<p>Joining up gives you unlimited access to our chilren's online books</p>
   <p> The joining cost is USD 1.50 a month and gives you: </p>
   <ul>
  <li>A choice of a book a day from our bookshelf</li>
  <li>Recommendations from our education professionals</li>
</ul>


</body>
</html>